@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

:root {
  --bs-font-sans-serif: "Inter", sans-serif;
}

html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-xxl {
  max-width: 100%;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 75vh;
}
.video-container video {
  filter: brightness(60%);
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

a {
  color: var(--bs-dark);
}

.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.02);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img img {
  width: 100%;
  object-fit: cover;
}

.category__img--large {
  height: 300px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: transparent;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

.heading-sendus {
  font-weight: bold;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/recipe-banner.jpg");
  padding: 160px 15px;
  gap: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-contact h1 {
  color: #fc4747;
}
.section-contact h1 span {
  color: white;
}

@media (min-width: 1000px) {
  .video-container {
    height: 93vh;
  }
  .section-contact p {
    width: 50%;
  }
}

.navbar {
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
.navbar .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -1px;
  gap: 4px;
}
.navbar .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
.navbar .nav-items li {
  list-style: none;
  padding: 0 15px;
}
.navbar .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.navbar .nav-items li a:hover {
  color: #ff3d00;
}
.navbar form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 5px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
.search-data::placeholder {
  color: white;
}
.navbar form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  outline: none;
  font-weight: 500;
  background: none;
}
.navbar form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.navbar form button:hover {
  background: #e63600;
}
.navbar .menu-icon,
.navbar .cancel-icon,
.navbar .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.navbar .menu-icon span,
.navbar .cancel-icon,
.navbar .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  .navbar {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  .navbar {
    padding: 0px;
  }
  .navbar .logo {
    flex: 2;
    text-align: center;
  }
  .navbar .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  .navbar .nav-items.active {
    left: 0px;
  }
  .navbar .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  .navbar .nav-items li a {
    font-size: 20px;
  }
  .navbar form {
    z-index: 10000;
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  .navbar form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  .navbar form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  .navbar form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar .menu-icon {
    display: block;
  }
  .navbar .search-icon,
  .navbar .menu-icon span {
    display: block;
  }
  .navbar .menu-icon span.hide,
  .navbar .search-icon.hide {
    display: none;
  }
  .navbar .cancel-icon.show {
    display: block;
  }
}

.navbar .logo.space {
  color: #fc4747;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  .navbar .menu-icon,
  .navbar .cancel-icon,
  .navbar .search-icon {
    margin: 0 20px;
  }
  .navbar form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  .navbar .menu-icon,
  .navbar .cancel-icon,
  .navbar .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
